@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
 

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-logo {
  margin-left: 2rem;
  font-size: 20px;
  font-weight: bolder;
}
.navbar, .nav-components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .3rem;
  transition: color 0.3s ease, color 0.3s ease;
}
.nav-components {
  justify-content: center;
  width: 70%;
  gap: 70px;
  font-weight: 600;
}

.auth-buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 22%;
   height: 100%;
}

.login-btn, .signup-btn {

   padding: 10px;
   width: 6rem;
   border-radius: 4px;
   margin: .5rem;
   background-color: white;
   border: .5px solid rgb(104, 3, 199);
   color: rgb(104, 3, 199);
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}
.signup-btn {
  background-color: rgb(116, 6, 219);
  color: white;
}

.login-btn:hover {
  background-color: beige;
}
.signup-btn:hover {
  background-color: white;
  color: rgb(104, 3, 199);
}

.git-icon, .arr-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.git-icon {
  font-size: 14px;
  color: rgb(103, 8, 192);
}
.git-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.arr-icons {
  padding-right: 3rem;
  width: 1.5rem;
  height: 1.5rem;
}
.arr-icons img {
   width: .8rem;
   height: .8rem;
   transition: opacity 1s ease; /* Smooth transition for opacity */
}

.pointer1, .pointer {
   cursor: pointer;
}
.pointer1:hover {
   color: rgb(188, 130, 241);
}

.nav-modal {
   position: absolute;
   top: 3rem;
   left: 32%;
   height: auto;
   width: 15vw;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   border: .1px solid #f7f2f2;
   box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
   gap: 12px;
}
.Resources {
 left: 45%;
}
.model-item {
   display: flex;
   width: 100%;
   height: 1vh;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   gap: .5rem;
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
   transition: background-color 1s ease, color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease, width 1s ease; /* Smooth transition */
}
.model-item:hover {
  background-color: rgb(223, 236, 236);
   font-weight: 600;
   transition: background-color 0.3s ease, color 0.3s ease;

}
.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  width: 30px;
  height: 35px;
  border-radius: 50%;
}

.nav-modal img {
  display: flex;
  width: 23px;
  justify-content: center;
  align-items: center;

}
.nav-modal div {
  display: flex;
  justify-content: flex-start;
  margin-right: 2px;
}